<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290140044854-egfvtpco2l01ac9qo2n5l25tk1mt25d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290140044854-egfvtpco2l01ac9qo2n5l25tk1mt25d2</string>
	<key>API_KEY</key>
	<string>AIzaSyAslT0ZPYYhWqwl20o5S74YyrV80cfdEVY</string>
	<key>GCM_SENDER_ID</key>
	<string>290140044854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.senaFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>sena-3aafd</string>
	<key>STORAGE_BUCKET</key>
	<string>sena-3aafd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290140044854:ios:a3752e6f3ed14aea5fa297</string>
</dict>
</plist>